/* *******spotify-xs  500px ***** */
@media screen and (min-width:500px) {
    .top-sidebar-all{
        display: none;
    }
    .bottom-sidebar-all{
        display: none;
    }

    .footer-title-all{
        display: none;
    }
}



/* *******spotify-s  575px ***** */

@media screen and (min-width:575px) {
    
    .sidebar{
        flex-basis: 200px;
    }

    .top-sidebar-mobile{
        display: none;
    }

    .bottom-sidebar-mobile{
        display: none;
    }

    .top-sidebar-all{
        display: block;
    }
    .bottom-sidebar-all{
        display: block;
    }

    .footer-title{
        display: none;
    }
    .footer-title-all{
        display: inline;
    }

}