/* *******spotify-xs  500px ***** */
@media screen and (min-width:500px) {
    .top-sidebar-all{
        display: none;
    }
    .bottom-sidebar-all{
        display: none;
    }

    .footer-title-all{
        display: none;
    }
}



/* *******spotify-s  575px ***** */

@media screen and (min-width:575px) {
    
    .sidebar{
        flex-basis: 200px;
    }

    .top-sidebar-mobile{
        display: none;
    }

    .bottom-sidebar-mobile{
        display: none;
    }

    .top-sidebar-all{
        display: block;
    }
    .bottom-sidebar-all{
        display: block;
    }

    .footer-title{
        display: none;
    }
    .footer-title-all{
        display: inline;
    }

}

/* *******spotify-md  768px ***** */

@media screen and (min-width:768px) {
    .col {
       
        flex-basis: calc(100% / 4);
    }

    .box-left{
        justify-content: flex-start;
        }

        .icon-cont{
            flex-direction: row;
            margin-left: 50px;
        }

        .icon-heart{
            padding: 0 5px;
        }

        .icon-folder{
            padding: 0 5px;
        }
}


/* *******spotify-lg  992px ***** */

@media screen and (min-width:992px) {

    .col {
       
        flex-basis: calc(100% / 6);
    }

    .box-right{
        justify-content: flex-end; 
        }

    .right-line{
        margin-right: 20px;
    }

    .navbar{
        justify-content: center;
    }

    .navbar li{
        margin: 0 15px;
    }
}